Service:
  RegionId: cn-hangzhou
  DeployType: ros
  DeployMetadata:
    ServiceInstanceNameRule:
      Prefix: neo4j
    SupplierDeployMetadata:
      ArtifactRelation:
        centos_7_9_x64_20G_alibase_20240403.vhd:
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: ${Artifact.EcsImage.ArtifactVersion}
    TemplateConfigs:
    - Name: 单机版
      Url: ros_templates/template.yaml
  ServiceType: private
  ServiceInfo:
    - Locale: zh-CN
      ShortDescription: neo4j是一个高性能的,NOSQL图形数据库，它将结构化数据存储在网络上而不是表中。它是一个嵌入式的、基于磁盘的、具备完全的事务特性的Java持久化引擎，但是它将结构化数据存储在网络(从数学角度叫做图)上而不是表中。
      Image: resources/icons/service_logo.jpeg
      Name: neo4j社区版
      Softwares:
       - Name: neo4j
         Version: vbrowser-0.1.24

Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: Neo4j_ECS_Image_1
    Description: neo4j
    ArtifactProperty:
      RegionId: ${ImageBuilder.EcsImage.RegionId}
      ImageId: ${ImageBuilder.EcsImage.SourceImageId}
ImageBuilder:
  EcsImage:
    RegionId: ap-southeast-1
    SourceImageId: aliyun_3_x64_20G_alibase_20240819.vhd
    SystemDiskSize: 40
    InstanceType: ecs.c6.large
    InternetMaxBandwidthOut: 100
    CommandType: RunShellScript
    Timeout: 10800
    Tags: []
    CommandContent: "\n# 安装docker-ce\nyum-config-manager --add-repo http://mirrors.aliyun.com/docker-ce/linux/centos/docker-ce.repo\n\
      yum makecache\nyum install -y curl git docker-ce\nsudo systemctl enable --now\
      \ docker.socket\nsudo systemctl enable --now docker.service\n\nmkdir -p /usr/local/applications/\
      \ && cd /usr/local/applications/\ntouch neo4j_auth.txt\ncat << EOF >> ./docker-compose.yml\n\
      services:\n  neo4j:\n    image: neo4j:latest\n    volumes:\n      - /$HOME/neo4j/logs:/logs\n\
      \      - /$HOME/neo4j/config:/config\n      - /$HOME/neo4j/data:/data\n    \
      \  - /$HOME/neo4j/plugin:/plugins\n    environment:\n      - NEO4J_AUTH_FILE=/run/secrets/neo4j_auth_file\n\
      \    ports:\n      - \"7474:7474\"\n      - \"7687:7687\"\n    restart: always\n\
      \    secrets:\n      - neo4j_auth_file\nsecrets:\n  neo4j_auth_file:\n    file:\
      \ ./neo4j_auth.txt\nEOF\n\ndocker compose up -d"
